body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
}

.question-container {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.question-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* To align items horizontally */
}

.star-rating {
    direction: rtl;
    display: inline-block;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: grey;
    font-size: 24px;
    padding: 0;
    cursor: pointer;
    margin: 0 5px;
}

.star-rating input[type="radio"]:checked~label {
    color: yellow;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: yellow;
}

.hidden {
    display: none;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}



select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.hidden {
    display: none;
}