<!-- templates/index.html -->
{% extends "base.html" %}
<html lang="en">
  {% block content %}
<head>
  <meta charset="UTF-8">
  <title>Select University</title>
  <script src="../static/js/Uniparser.js"></script>
  <script src="../static/js/QuestionPopulator.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <form action="/myform"  method=post enctype=multipart/form-data>
    <label for="countrySelect">Select Country:</label>
    <select id="countrySelect" name="countrySelect" onchange="updateUniversityDropdown()"></select>

    <label for="universitySelect">Select University:</label>
    <select id="universitySelect" name="universitySelect"> </select>
    
    <label for="departmentSelect">Select Department:</label>
    <select id="departmentSelect" name="departmentSelect"></select>
    
    <br><br>
    <div id="questions-container">
      <!-- JavaScript will populate this -->
    </div>
    <input  class="button is-block is-info is-large is-fullwidth" type=submit value=Submit>

    <input type="submit" value="Submit" >
  </form>
  <script>
    const questions = ["Quality of academic staff", "Research and Publications", "International Partnerships (ERASMUS)", "Academic Programs", "University Student Success", "International and National Rankings", "Alumni Network (Graduate Network)", "Scholarships and Grants", "Social Activities and Clubs", "Start-up and Innovation Centers", "Accommodation", "Social Environment of Students", "Internship Opportunities", "Competitions and Awards", "Accessibility for Disabled", "Balance of Theoretical and Practical Knowledge", "In-school Communication. Receiving exam announcements and event announcements, etc.", "Contributing on Schools academic projects", "Project Support or Patent Support of the School", "The School's Support for You in Career Planning", "Transportation to Campus", "School Library", "Labs", "Sport Centers", "Quality of the Region Where the Campus is Located"];
    const questionsContainer = document.getElementById('questions-container');

    for (let i = 0; i < questions.length; i++) {

      const questionDiv = document.createElement('div');
      questionDiv.className = 'question-container';

      const questionText = document.createElement('div');
      questionText.className = 'question-text';
      
      questionText.innerText = `${i + 1}. ${questions[i]}`;
      questionDiv.appendChild(questionText);

      const sliderInput = document.createElement('input');

      sliderInput.type = 'range';
      sliderInput.min = '0';
      sliderInput.max = '10';
      sliderInput.value = '5';
      sliderInput.name = `slider${i}`;
      sliderInput.className = 'slider';
      sliderInput.id = `slider${i}`;
      questionDiv.appendChild(sliderInput);

      const sliderValueDisplay = document.createElement('span');
      sliderValueDisplay.id = `sliderValue${i}`;
      sliderValueDisplay.textContent = '5';
      questionDiv.appendChild(sliderValueDisplay);
      sliderInput.addEventListener("input", function () {
        document.getElementById(`sliderValue${i}`).textContent = this.value;
      });
      questionsContainer.appendChild(questionDiv);
    } 
  </script>
</body>
{% endblock %}
</html>